spring:
  application:
    name: quanlichungcu

  datasource:
    url: jdbc:mysql://localhost:3307/apartment_mgmt?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&useUnicode=true
    username: apartment_user
    password: apartment_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.hoangdo.quanlichungcu: DEBUG
    org.springframework.web: INFO